### dotenv ###
.env
.env.test
.env*.local

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

### react ###
.DS_*
**/*.backup.*
**/*.back.*

# db-data
**/db-data
